.buttons {
  display: flex;
  justify-content: center;
}

button:nth-child(odd) {
  outline: none !important;
  margin-right: 10px;
}

form {
  margin-top: 100px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgrey;
}
