<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 form-group">
      <label for="amount">Виберіть товар</label>
      <input
        class="form-control"
        name="searchInput"
        [(ngModel)]="searchInput"
        autocomplete="off"
      />
      <app-recipe-item
        *ngFor="let recipeItem of recipes | search: searchInput; let i = index"
        [recipe]="recipeItem"
        [index]="i"
      >
      </app-recipe-item>
    </div>
    <hr />
  </div>
  <div class="col-xs-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeItem of recipes; let i = index"
      [recipe]="recipeItem"
      [index]="i"
    >
    </app-recipe-item>
  </div>
  <button class="btn btn-success" (click)="onNewRecipe()">Новий товар</button>
</div>
